<%- include('common/header.ejs') %>

            <!-- Page content-->
            <div class="container-fluid">
                <h1 class="mt-4">Jitterbit API Face Demo</h1>
                <p>Utilises the Microsoft Azure Face Detection API's to detect faces in images.</p>
            </div>

<%- include('common/footer.ejs') %>



