<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Jitterbit x Face API</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <!-- Additional Styling-->
        <link href="/css/webcam.css" rel="stylesheet" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
        <!--highlight for JSON syntax highlighting-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        
<style>

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#img {
    width: 100%;
    display: block;
}

</style>

<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>

    </head>

    <body>

    <div class="d-flex" id="wrapper">
        
<%- include('nav.ejs') %>